.progress-bar {
  width: 400px;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow-x: auto;
}

.card {
  background-color: #333;
  width: fit-content;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    text-align: left;
    padding-right: 16px;
    font-size: 0.8em;
    color: #aaa;
    text-transform: uppercase;
  }

  td {
    padding-right: 16px;
    white-space: nowrap;
  }

  th:not(:first-child), td:not(:first-child) {
    text-align: right;
  }

  td:last-child, th:last-child {
    padding-right: 0;
  }
}
